@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');
body {
  font-family: 'Roboto Flex', sans-serif;
}
/* Encabezado */
nav img {
  width: 120px;
} 
/* Carousel base */
.oscurecer{
  filter: brightness(50%);
  }
/* Dada la posición de la imagen, necesito ayudar al subtítulo*/
.carousel-caption {
  bottom: 8rem;
  z-index: 10;
  }
/* Declarar alturas debido al posicionamiento del elemento img */
.carousel-item {
  height: rem;
  }
/* Contacto */
.subrayado_con_puntos{
  text-decoration: underline;
  text-decoration-style: dotted;
}
.card-text{
  height:inherit; 
  overflow-x:"scroll"; 
}
